<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingleadsw.betterlive.dao.PayLogMapper" >
	
		
	<sql id="Base_Column_List" >
		paylog_id,
		trans_id,
		order_id,
		order_code,
		customer_id,
		pay_type,
		pay_money,
		DATE_FORMAT(pay_time, '%Y-%m-%d %H:%i:%s') AS pay_time,
		coupon_id,
		conpon_money,
		gift_card_no,
		gitf_card_money,
    	DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') AS create_time,    
    	use_single_coupon_id
    	
  	</sql>
  
	<!-- //根据条件分页查询支付日志    -->
	<select id="findPayLogListPage" resultType="com.kingleadsw.betterlive.model.PayLog" parameterType="pd">
    	SELECT
     		<include refid="Base_Column_List" />
     	FROM t_paylog WHERE  order_id IS NOT NULL
     	
		<!-- 订单ID -->
		<if test="null != orderId  and ''!= orderId">
     	    and order_id=#{orderId}
     	</if>
     	
		<!-- 订单编号 -->
		<if test="null != orderCode  and ''!= orderCode">
     	    and order_code=#{orderCode}
     	</if>
     	
     	<!--支付方式，1：支付宝；2：微信；3：银联 -->
     	<if test="null != payType  and ''!= payType">
     		and pay_type=#{payType}
     	</if>
     	
     	
     	<!-- 用户ID -->
     	<if test="null != customerId  and ''!= customerId ">
     		and customer_id=#{customerId}
     	</if>
     	
  	</select>
  	
  	
  	<!--//根据条件查询订单    -->
	<select id="findPayLog" resultType="com.kingleadsw.betterlive.model.PayLog" parameterType="pd" >
    	SELECT
     		<include refid="Base_Column_List" />
     	FROM t_paylog WHERE  order_id IS NOT NULL
     	
		<!-- 订单ID -->
		<if test="null != orderId  and ''!= orderId">
     	    and order_id=#{orderId}
     	</if>
     	
		<!-- 订单编号 -->
		<if test="null != orderCode  and ''!= orderCode">
     	    and order_code=#{orderCode}
     	</if>
     	
     	<!--支付方式，1：支付宝；2：微信；3：银联 -->
     	<if test="null != payType  and ''!= payType">
     		and pay_type=#{payType}
     	</if>
     	
     	
     	<!-- 用户ID -->
     	<if test="null != customerId  and ''!= customerId ">
     		and customer_id=#{customerId}
     	</if>
     	
  	</select>
  	
  
  	
  	<!-- //添加支付日志 -->
  	<insert id="insertPayLog" parameterType="com.kingleadsw.betterlive.model.PayLog">
    	insert into t_paylog ( paylog_id,
							  order_id,
							  order_code,
							  customer_id,
							  pay_type,
							  pay_money,
							  coupon_id,
						      conpon_money,
						      gift_card_no,
							  gitf_card_money,
							  create_time,
							  use_single_coupon_id
    				  		)
    				  	values (NULL,
    				  	 	    #{order_id},
    				  	 	    #{order_code},
    				  	 	    #{customer_id},
    				  	 	    #{pay_type},
    				  	 	    #{pay_money},
    				  	 	    #{coupon_id},
    				  	 	    #{conpon_money},
    				  	 	    #{gift_card_no},
    				  	 	    #{gitf_card_money},
    				  	 	    now(),
    				  	 	    #{use_single_coupon_id}
    				  	 	  )
  	</insert>
   	
   	<!--//更新支付日志-->
    <update id="editPayLog" parameterType="pd" >
    	update t_paylog   
    			<set>
    				<!-- 支付方式  -->
    				<if test="null!=payType and ''!=payType">
    					pay_type=#{payType},
    				</if>
     	
    				<!-- 流水号-->
    				<if test="null!=transId and ''!=transId">
    					trans_id=#{transId},
    				</if>
    				
    				pay_time=now(),
    			</set>
								
    	where order_id=#{orderId} and customer_id=#{customerId}
    	
    </update> 
    
    
    <!-- 合并用户时,需要合并用户的支付日志 -->
    <update id="modifyCustomerPaylogBycId" parameterType="pd" >
	    update t_paylog set customer_id=#{newCustomerId}  where customer_id=#{customerId}
	</update> 
	
	
    <!-- 根据旧订单编号更新订单编号-->
    <update id="updateOrderCodeByOrdeId" parameterType="pd" >
	    update t_paylog set  order_code =#{newOrderCode}  where order_code=#{oldOrderCode}
	</update> 
	
</mapper>