<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingleadsw.betterlive.dao.ShareMapper" >
  <resultMap id="BaseResultMap" type="com.kingleadsw.betterlive.model.Share" >
    <id column="share_id" property="shareId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="share_type" property="shareType" jdbcType="INTEGER" />
    <result column="share_time" property="shareTime" jdbcType="DATE" />
    <result column="obj_id" property="objId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    	t.share_id, t.customer_id, t.share_type, t.obj_id, t.share_time
  </sql>
  
   <select id="queryOne" resultMap="BaseResultMap" parameterType="pd" >
   	select <include refid="Base_Column_List"/>
   	 from t_share t where 1=1
   	 <if test="objId != null">
   	 	and t.obj_id = #{objId}
   	 </if>
   	 <if test="shareType != null">
   	 	and t.share_type = #{shareType}
   	 </if>
   	 <if test="customerId != null">
   	 	and t.customer_id = #{customerId}
   	 </if>
   	 limit 1
   </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_share t
    where t.share_id = #{shareId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_share
    where share_id = #{shareId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertShare" parameterType="com.kingleadsw.betterlive.model.Share" useGeneratedKeys="true"  keyProperty="shareId" keyColumn="share_id">
    insert into t_share (customer_id,share_type,share_time,obj_id)
    values (#{customerId}, #{shareType}, NOW(), #{objId})
  </insert>

</mapper>